.g_text_45 {
  font-size: 45rpx;
}

.g_text_35 {
  font-size: 35rpx;
}

.g_text_30 {
  font-size: 30rpx;
}

.g_text_25 {
  font-size: 25rpx;
}

.g_p_10 {
  padding: 10rpx;
}

.g_pt_15 {
  padding-top: 15rpx;
}

.g_pb_10 {
  padding-bottom: 10rpx;
}

.g_mt_10 {
  margin-top: 10rpx;
}

.g_mt_15 {
  margin-top: 15rpx;
}

.g_mt_20 {
  margin-top: 20rpx;
}

.g_mb_15 {
  margin-bottom: 15rpx;
}

.g_ml_15 {
  margin-left: 15rpx;
}

.g_ml_20 {
  margin-left: 20rpx;
}

.g_box {
  width: 680rpx;
  padding: 10rpx;
  @apply mx-auto;
}

.g_item {
  width: 680rpx;
  height: 200rpx;
  padding: 10rpx;
  margin-bottom: 15rpx;
  @apply flex mx-auto bg-white shadow-lg;
}

.g_jump_full {
  width: 680rpx;
  height: 180rpx;
  margin-top: 25rpx;
  padding: 10rpx;
  @apply rounded-md shadow-md mx-auto;
}

.g_jump_half {
  width: 325rpx;
  height: 180rpx;
  margin-top: 25rpx;
  padding: 10rpx;
  @apply rounded-md shadow-md;
}

.g_icon {
  width: 80rpx;
  height: 80rpx;
  @apply flex mx-auto rounded-full shadow-md shadow-blue-400;
}

.g_info {
  font-size: 30rpx;
  margin-top: 15rpx;
  @apply text-gray-400;
}